spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    hikari:
      maximum-pool-size: 5
      connection-timeout: 2000
      leak-detection-threshold: 3000

logging:
  level:
    com.zaxxer.hikari: DEBUG
